body {
    font-family: Arial, sans-serif;
    background-color: #f0e4d7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e3d1bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header .logo-text {
    font-weight: 700; 
    font-size: 1.5em; 
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header nav a.profile-link {
    margin-left: auto;
}

header nav a.profile-link .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    color: #000;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase; 
    margin-bottom: 20px; 
    border-bottom: 2px solid #000; 
    padding-bottom: 10px; 
}


.tables {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 100px;
    padding: 100px;
}

.table {
    background-color: #e3d1bb;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.table-icon img {
    width: 250px;
    height: auto;
}

.table-status {
    margin-top: 10px;
}

.table-status button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-status button:hover {
    transform: scale(1.05); /* Agrandar al hacer hover */
}

.available {
    background-color: #000;
    color: #fff;
}

.occupied {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.out-of-service {
    background-color: #ff4d4d;
    color: #fff;
}

.table-name {
    font-size: 2em;
    margin-top: 25px;
    font-weight: bold;
}

.icon-container {
    display: inline-block; 
    margin-right: 20px; 
}

.icon {
    width: 40px; 
    height: 40px;
    vertical-align: middle; 
}